

.item-card{
    margin: 10px;
    min-height: 200px;
    /* width: 50%; */
    background-color: dimgray;
    border-radius: 5px;
    transition: box-shadow 0.1s, transform 0.1s;
    cursor: pointer;
}

  
  




@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {
    /* ITEM CARDS */
    .item-card{
        max-width: 250px;
    }

    
    .item-card:hover {
        box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    }

}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}