.main-motorcycledetails{
    display: flex;
    flex-direction: column;
}


.m-m-mini-navig{
    padding: 5px;
    display: flex;
    align-items: center;
}

.m-m-mini-navig > div{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3em;
}

.moto-details-name{
    text-align: center;
}


.moto-details-image-container{
    overflow: hidden;
}

.moto-details-image-container > img{
    width: 100%;
}

.moto-details-container{
    position: relative;
}


.color-group{
    display: flex;
    padding: 5px 10px;
}

.color-group > p{
    margin-right: 10px;
}
.moto-color{
    content: '';
    height: 25px;
    width: 25px;
    border: 2px solid gray;
    border-radius: 50px;
}


.moto-details-desc,
.moto-details-specs{
    padding: 10px;
}

.moto-details-features{
    padding: 10px;
}

.moto-details-features > table{
    border-collapse: collapse;
    width: 100%;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: bold; */
}

.moto-details-features > table tbody,
.moto-details-features > table tbody > tr,
.moto-details-features > table tbody > tr > td{
    border: 1px solid rgb(125, 125, 125);
}

.moto-details-features > table tbody > tr,
.moto-details-features > table tbody > tr > td{
    padding: 5px;
    text-align: center;
}

.moto-details-features > table tbody > tr > td:nth-of-type(odd){
    width: 40%;
}

.moto-details-features > table tbody > tr:nth-of-type(odd){
    background-color: rgba(174, 174, 174, 0.65);
}



.moto-details-specs > table{
    border-collapse: collapse;
    width: 100%;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: bold; */
}

.moto-details-specs > table tbody,
.moto-details-specs > table tbody > tr,
.moto-details-specs > table tbody > tr > td{
    border: 1px solid rgb(125, 125, 125);
}

.moto-details-specs > table tbody > tr,
.moto-details-specs > table tbody > tr > td{
    padding: 5px;
    text-align: center;
}

.moto-details-specs > table tbody > tr > td:nth-of-type(odd){
    width: 40%;
}

.moto-details-specs > table tbody > tr:nth-of-type(odd){
    background-color: rgba(174, 174, 174, 0.65);
}


.more-details{
    padding: 10px;
    font-size: .8em;
}



@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {
    .moto-details-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .moto-details-image-container{
        grid-area: 1 / 1 / 3 / 2;
    }
    .moto-details-desc{
        grid-area: 1 / 2 / 2 / 3;
    }
    .moto-details-features{
        grid-area: 2 / 2 / 3 / 3;
    }
    .moto-details-specs{
        grid-area: 3 / 1 / 4 / 3;
    }
}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}
