main.main-shop{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

main.main-shop > div{
    /* border: 1px solid red; */
}


.shop-banner{
    height: 60px;
    background-color: var(--yellow-g);
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    overflow: hidden;

}

.shop-banner > h3 > a{
    font-size: .8em;
    text-decoration: none;
    color: var(--dark);
}

.shop-banner > img{
    position: absolute;
    top: -25px;
    right: -15px;
    opacity: .5;
}

.shop-menu{
    background-color: rgba(179, 179, 179, 0.55);
    padding: 2px;
    position: relative;
}.shop-menu.open{
    padding: 10px;
}.shop-menu.hid{
    padding: 0;
}



.shop-menu-btn{
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    bottom: 0;
    transform: rotate(90deg);
    left: 50%;
    margin-bottom: -25px;
    border: none;
    border: .5px solid gray;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 1px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    z-index: 2;
}
.shop-menu-btn.focus{
    background-color: var(--yellow-g);
}

.shop-container{
    padding: 5px;
}

.shop-items-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto;
}



.shop-pagination-container{
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

.shop-pagination-container button{
    text-align: center;
    border: .4px solid rgba(0, 0, 0,.3);
    height: 25px;
    width: 35px;
    cursor: pointer;
}

.shop-pagination-container button:hover{
    background-color: rgb(195, 195, 195);
}

.shop-page-prev,
.shop-page-next{
    font-weight: bolder;
    background-color: var(--dark);
    color: var(--lighter);
}

.shop-pagination-container button.active{
    background-color: rgb(148, 125, 72);
    color: var(--lighter);
}

.shop-page-prev.max,
.shop-page-next.max{
    background-color: gray;
}


.shop-suggestion-container{
    /* border-radius: 40px 40px 0 0; */
    z-index: 1;
    background-color: white;
    margin-top: 20px;
}

.shop-suggestion-container > h2 {
    padding: 10px;
    padding-bottom: 5px;
    color: var(--dark);
    font-family: 'Bebas Neue', cursive;
    margin-left: 20px;
    letter-spacing: 1px;
}

.shop-suggest{
    display: flex;
    border: 1px solid red;
    justify-content: space-evenly;
    padding: 3px 0;
}

@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {
    main.main-shop{
        display: grid;
        grid-template-columns: auto 4fr;
        grid-gap: 0;
    }

    .shop-banner{
        grid-area: 1 / 1 / 2 / 3;
        background-color: var(--dark);
        color: var(--yellow-g);
    }

    
    .shop-banner > h3 > a{
        color: var(--lighter);
    }

    .shop-menu{
        min-height: 70vh;
        max-width: 20vw;
        box-shadow: 1px 1px 4px 0px gray;
        padding: 10px;
    }


    .shop-menu-btn{
        bottom: unset;
        transform: rotate(0deg);
        left: unset;
        margin-bottom: 0;
        right: -10px;
    }


    .shop-items-container{
        grid-template-columns: repeat(4, auto);
        justify-content:  space-evenly;
    }


   


}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}
