@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Oswald:wght@700&family=Roboto:wght@400;900&display=swap');






/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/


.main-home{
    display: flex;
    flex-direction: column;
}

.home-sec-1{
    /* border: 1px solid green; */
    /* height: calc(100vh - 5%); */
    position: relative;
    overflow: hidden;
}

.home-sec-1::after{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 50px solid var(--dark);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    bottom: 0;
    left: 0;
    z-index: -1;
}





.home-featured-product{
    margin-top: -30px;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
    clip-path: inset(0px -15px 0px -15px);
}


section.img-a img{
    width: 100%;
    height: auto;
}


.home-search-product{
    background-color: var(--dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
}




.home-deals{
    border: 2px solid green;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.home-deals::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .7;
}








@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {
    .home-sec-1::after{
        border-left: 100px solid var(--dark);
        border-top: 70px solid transparent;
        border-bottom: 70px solid transparent;
    }
}
@media only screen and (min-width: 768px) {
    .home-sec-1::after{
        border-left: 200px solid var(--dark);
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        bottom: -100px;
        display: none;
    }



    .home-featured-product{
        margin-right: 5%;
        margin-left: 5%;
    }

}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}
