@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Boogaloo', cursive;
*/
/* GLOBAL COLOR */
:root{
  --dark: rgb(27,27,27);
  --matte-g: rgb(54, 79, 69);
  --light: rgb(229, 229, 229);
  --lighter: rgb(212, 212, 212);
  --yellow-g: rgb(255, 196, 0);
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}








@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}
